<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Warn - Ativo e Operante</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
		<style>
			.flex {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin: 0 auto;
				justify-content: center;
			}
			.formflex {
				margin: 0 auto;
				justify-content: center;
			}
			.nav-link:hover {
				text-decoration: underline;
			}
			.box {
				border: 1px solid #ed1c24;
				display: inline-flex;
				width: 70%;
				border-radius: 10px;
				font-family: 'Montserrat', sans-serif;
				font-size: 85%;
			}
			.vl {
				border-left: 1px solid #ed1c24;
				height: 95%;
				margin-top: 2%;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ed1c24;font-family: 'Montserrat', sans-serif;">
			<a class="navbar-brand" href="#">
				<img src="https://i.ibb.co/Bs6h7Zj/logo.png" style="height: 30px; width: 40px;" alt="logo"/>
			</a>
			<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
			  <ul class="navbar-nav">
				<li class="nav-item active">
				  <a class="nav-link" href="/" style="color: white">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/more" style="color: white">Saiba Mais</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/warning" style="color: white">Efetuar Denúncia</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin" style="color: white">Admin</a>
				</li>
			  </ul>  	
			</div>
			<div class="navbar-nav flex-row d-lg-flex justify-content-end">
				<a class="nav-link" href="/login" style="color:white">Login</a>
			</div>
		  </nav>
		<main class="pt-4 flex" style="margin-bottom: 1.5em;">
			<div class="box flex">
				<form class="formflex" method="POST" action="/login">
					<h3 style="font-family: 'Inter', sans-serif;text-align: center;color: #ed1c24;margin-top: 1.1em;margin-bottom: 0.5em;">ENTRAR</h3>
					<div class="form-group">
						<label for="InputEmail">Email</label>
						<input type="email" class="form-control" name="lemail" id="InputEmail" aria-describedby="emailHelp" placeholder="Digite seu email">
					</div>
					<div class="form-group">
						<label for="InputPass">Senha</label>
						<input type="password" class="form-control" name="lpass" id="InputPass" placeholder="Digite sua senha">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="lcheck" id="InputCheck">
						<label class="form-check-label" for="InputCheck">Mantenha-me conectado</label>
					</div>
					<button type="submit" class="btn btn-danger" style="margin-top: 1.1em;background-color: #ed1c24;">Entrar</button>
				</form>
				<div class="vl"></div>
				<form class="formflex" method="POST" action="/register">
					<h3 style="font-family: 'Inter', sans-serif;text-align: center;color: #ed1c24;margin-top: 1.1em;margin-bottom: 0.5em;">REGISTRAR</h3>
					<div class="form-group">
						<label for="InputName">Nome</label>
						<input type="text" class="form-control" name="rname" id="InputName" placeholder="Digite seu primeiro nome">
					</div>
					<div class="form-group">
						<label for="InputLastName">Sobrenome</label>
						<input type="text" class="form-control" name="rlast" id="InputLastName" placeholder="Digite seu sobrenome">
					</div>
					<div class="form-group">
						<label for="InputCPF">CPF</label>
						<input type="text" class="form-control" name="rcpf" aria-describedby="cpfHelp" id="InputCPF" placeholder="000.000.000-00">
						<small id="cpfHelp" class="form-text text-muted">Seu CPF não será revelado para ninguém.</small>
					</div>
					<div class="form-group">
						<label for="InputDate">Data de Nascimento</label>
						<input type="date" class="form-control" name="rcpf" id="InputDate">
					</div>
					<div class="form-group">
						<label for="InputEmail">Email</label>
						<input type="email" class="form-control" name="remail" id="InputEmail" aria-describedby="emailHelp" placeholder="Digite seu email">
						<small id="emailHelp" class="form-text text-muted">Seu email não será revelado para ninguém.</small>
					</div>
					<div class="form-group">
						<label for="InputPass">Senha</label>
						<input type="password" class="form-control" name="rpass" id="InputPass" aria-describedby="passHelp" placeholder="Digite sua senha">
						<small id="passHelp" class="form-text text-muted">Deve ter entre 8 e 16 caractéres, uma letra maiúscula, minúscula e um número.</small>
					</div>
					<div class="form-group">
						<label for="InputSecondPass">Confirmar Senha</label>
						<input type="password" class="form-control" name="rsecondpass" id="InputSecondPass" placeholder="Digite sua senha novamente">
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="rcheckconditions" id="checkConditions">
						<label class="form-check-label" for="checkConditions">Concordo com os <a href="/conditions" target="_blank">Termos e condições de uso</a></label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="rcheckprivacy" id="checkPrivacy">
						<label class="form-check-label" for="checkPrivacy">Concordo com a <a href="/privacy" target="_blank">Política de Privacidade</a></label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" name="rchecknews" id="checkNews">
						<label class="form-check-label" for="checkNews">Mantenha-me informado sobre novidades</label>
					</div>
					<button type="submit" class="btn btn-danger" style="margin-top: 1.1em;margin-bottom: 1.1em;background-color: #ed1c24;">Registrar</button>
				</form>
			</div> <!--box-->
		</main>
		<footer class="page-footer font-small blue pt-4" style="background-color: #ed1c24; bottom:0">
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-6 mt-md-0 mt-3">
						<div style="display: inline-flex;">
							<a class="navbar-brand" href="/">
								<img src="https://i.ibb.co/Bs6h7Zj/logo.png" style="height: 30px; width: 40px;" alt="logo"/>
							</a>
							<h5 style="color: white;margin-top: 0.5em;">WARN - Ativo e Operante</h5>
						</div>
						<p class="pt-4" style="color: white; font-family: 'Montserrat', sans-serif;">A Warn foi criada com o intuíto de ajudar o cidadão a manter-se satisfeito com o local onde vive, dando a ele uma ferramenta para avisar autoridades maiores sobre problemas na cidade. 
							<a href="/more" style="color: #303030">Saiba Mais</a>
						</p>
						<a href="https://play.google.com/store?hl=pt_BR&gl=US" target="_blank"><img src="https://i.ibb.co/YfDdDpT/playstore.png" alt="playstore"/></a>
						<a href="https://www.apple.com/br/ios/app-store/" target="_blank"><img src="https://i.ibb.co/KqwBLc9/appstore.png" alt="appstore"/></a>
					</div>
					<hr class="clearfix w-100 d-md-none pb-3">
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase text-center" style="color:white">Páginas</h5>
						<ul class="list-unstyled text-center" style="font-family: 'Montserrat', sans-serif;">
							<li>
								<a href="/" style="color: #303030;">Home</a>
							</li>
							<li>
								<a href="/more" style="color: #303030;">Saiba Mais</a>
							</li>
							<li>
								<a href="/warning" style="color: #303030;">Efetuar Denúncia</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase text-center" style="color: white;">Links</h5>
						<ul class="list-unstyled text-center" style="font-family: 'Montserrat', sans-serif;">
							<li>
								<a href="/problem" style="color: #303030;">Relatar Problema</a>
							</li>
							<li>
								<a href="/privacy" style="color: #303030;">Política de Privacidade</a>
							</li>
							<li>
								<a href="/conditions" style="color: #303030;">Termos e Condições de Uso</a>
							</li>
							<li>
								<a href="/answer" style="color: #303030;">Perguntas Frequentes</a>
							</li>
							<li>
								<a href="/talk" style="color: #303030;">Fale Conosco</a>
							</li>
						</ul>  
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center" style="color: white;">© 2020 Copyright</div>
		</footer>
		<script>
			$(document).ready(function(){
				$("#InputCPF").mask('000.000.000-00');
			});
		</script>
	</body>
</html> 