<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Warn - Ativo e Operante</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous"></script>
		<style>
			.flex {
				display: flex;
				flex-wrap: wrap;
				width: 100%;
				margin: 0 auto;
				justify-content: center;
			}
			.formflex {
				margin: 0 auto;
				justify-content: center;
				width: 60%	;
			}
			.nav-link:hover {
				text-decoration: underline;
			}
			.box {
				border: 1px solid #ed1c24;
				display: inline-flex;
				width: 50%;
				border-radius: 10px;
				font-family: 'Montserrat', sans-serif;
				font-size: 85%;
			}
			.checked {
				color: #ed1c24;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ed1c24;font-family: 'Montserrat', sans-serif;">
			<a class="navbar-brand" href="#">
				<img src="https://i.ibb.co/Bs6h7Zj/logo.png" style="height: 30px; width: 40px;" alt="logo"/>
			</a>
			<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
			  <ul class="navbar-nav">
				<li class="nav-item active">
				  <a class="nav-link" href="/" style="color: white">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/more" style="color: white">Saiba Mais</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" href="/warning" style="color: white">Efetuar Denúncia</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin" style="color: white">Admin</a>
				</li>
			  </ul>  	
			</div>
			<div class="navbar-nav flex-row d-lg-flex justify-content-end">
				<a class="nav-link" href="/login" style="color:white">Login</a>
			</div>
		  </nav>
		<main class="pt-4 flex" style="margin-bottom: 1.5em;">
			<div class="box flex">
				<form class="formflex">
					<h3 style="font-family: 'Inter', sans-serif;text-align: center;color: #ed1c24;margin-top: 1.1em;margin-bottom: 0.5em;">DENUNCIAR</h3>
					<h5 style="margin-bottom: 0.8em; font-size: 1.2em;text-decoration: underline;color: #ed1c24;">O que é o problema?</h5>
					<div class="form-group">
						<label for="InputTitle">Título do Problema</label>
						<input type="text" class="form-control" name="wtitle" id="InputTitle" aria-describedby="titleHelp" placeholder="Digite o problema">
					</div>
					<div class="form-group">
						<label for="InputTitle">Descrição do Problema</label>
						<textarea class="form-control" name="wdescription" id="InputDesc" placeholder="Descreva o problema..." rows="5"></textarea>
					</div>
					<div style="display: flex;">
						<div class="form-group" style="margin-right: 0.5em; width: 50%;">
							<label for="InputProblem">Tipo de Problema</label>
							<select id="InputProblem" class="form-control">
								<option value="NaN" selected>Escolha...</option>
							</select>
							<input type="hidden" value="" name="wprob" id="wprob">
						</div>
						<div class="form-group" style="width: 50%;">	
							<label for="InputOrgan">Orgão Responsável</label>
							<select id="InputOrgan" class="form-control">
								<option value="NaN" selected>Escolha...</option>
							</select>
							<input type="hidden" value="" name="worgan" id="worgan">
						</div>
					</div>
					<h5 class="pt-4" style="margin-bottom: 0.8em; font-size: 1.2em;text-decoration: underline;color: #ed1c24;">Onde está o problema?</h5>
					<div class="form-group">
						<label for="InputCEP">CEP <span style="font-size: 0.8em;">(opicional)</span></label>
						<input type="text" class="form-control" name="wcep" id="InputCEP" aria-describedby="cepHelp" placeholder="00000-000">
					</div>
					<div style="display: flex;">
						<div class="form-group" style="margin-right: 0.5em;width: 100%;">
							<label for="InputAdress">Endereço</label>
							<input type="text" class="form-control" name="wadress" id="InputAdress" aria-describedby="adressHelp" placeholder="Digite a rua ou avenida">
						</div>
						<div class="form-group" style="width: 30%;">
							<label for="InputNum">Número</label>
							<input type="text" class="form-control" name="wnum" id="InputNum" aria-describedby="numHelp" placeholder="Nº">
						</div>
					</div>
					<div class="form-group">
						<label for="InputDistrict">Bairro</label>
						<input type="text" class="form-control" name="wdistrict" id="InputDistrict" aria-describedby="districtHelp" placeholder="Digite o bairro">
					</div>
					<div style="display: flex;">
						<div class="form-group" style="margin-right: 0.5em; width: 35%;">
							<label for="InputState">Estado</label>
							<select id="InputState" class="form-control">
								<option value="AC">AC</option>
								<option value="AL">AL</option>
								<option value="AP">AP</option>
								<option value="AM">AM</option>
								<option value="BA">BA</option>
								<option value="CE">CE</option>
								<option value="DF">DF</option>
								<option value="ES">ES</option>
								<option value="GO">GO</option>
								<option value="MA">MA</option>
								<option value="MT">MT</option>
								<option value="MS">MS</option>
								<option value="MG">MG</option>
								<option value="PA">PA</option>
								<option value="PB">PB</option>
								<option value="PR">PR</option>
								<option value="PE">PE</option>
								<option value="PI">PI</option>
								<option value="RJ">RJ</option>
								<option value="RN">RN</option>
								<option value="RS">RS</option>
								<option value="RO">RO</option>
								<option value="RR">RR</option>
								<option value="SC">SC</option>
								<option value="SP" selected>SP</option>
								<option value="SE">SE</option>
								<option value="TO">TO</option>
							</select>
							<input type="hidden" value="" name="wstate" id="wstate">
						</div>
						<div class="form-group" style="width: 100% !important;">	
							<label for="InputCity">Cidade</label>
							<input type="text" class="form-control" name="wcity" id="InputCity" aria-describedby="cityHelp" placeholder="Digite a cidade">
						</div>
					</div>
					<h5 class="pt-4" style="margin-bottom: 0.8em; font-size: 1.2em;text-decoration: underline;color: #ed1c24;">Tem uma foto?</h5>
					<img id="imgPhoto" width="250px"></img>
					<div class="form-group">
						<label for="exampleFormControlFile1">Envie uma foto do problema <span style="font-size: 0.8em;">(opicional)</span></label>
						<input type="file" class="form-control-file" id="InputPhoto" name="wphoto" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*">
					</div>
					<h5 class="pt-4" style="margin-bottom: 0.8em; font-size: 1.2em;text-decoration: underline;color: #ed1c24;">O PROBLEMA É URGENTE?</h5>
					<div class="form-group">
						<label for="exampleFormControlFile1">Nível de Urgência: </label>
						<span style="cursor: pointer;" id="star1" class="fa fa-star checked"></span>
						<span style="cursor: pointer;" id="star2" class="fa fa-star"></span>
						<span style="cursor: pointer;" id="star3" class="fa fa-star"></span>
						<span style="cursor: pointer;" id="star4" class="fa fa-star"></span>
						<span style="cursor: pointer;" id="star5" class="fa fa-star"></span>
					</div>
					<input value="1" type="hidden" name="wlevel" id="wlevel">
					<button type="submit" id="submit" class="btn btn-danger" style="width: 100%;margin-top: 1.1em;margin-bottom: 1.1em;background-color: #ed1c24;">Denunciar</button>
				</form>
			</div> <!--box-->
		</main>
		<footer class="page-footer font-small blue pt-4" style="background-color: #ed1c24; bottom:0">
			<div class="container-fluid text-center text-md-left">
				<div class="row">
					<div class="col-md-6 mt-md-0 mt-3">
						<div style="display: inline-flex;">
							<a class="navbar-brand" href="/">
								<img src="https://i.ibb.co/Bs6h7Zj/logo.png" style="height: 30px; width: 40px;" alt="logo"/>
							</a>
							<h5 style="color: white;margin-top: 0.5em;">WARN - Ativo e Operante</h5>
						</div>
						<p class="pt-4" style="color: white; font-family: 'Montserrat', sans-serif;">A Warn foi criada com o intuíto de ajudar o cidadão a manter-se satisfeito com o local onde vive, dando a ele uma ferramenta para avisar autoridades maiores sobre problemas na cidade. 
							<a href="/more" style="color: #303030">Saiba Mais</a>
						</p>
						<a href="https://play.google.com/store?hl=pt_BR&gl=US" target="_blank"><img src="https://i.ibb.co/YfDdDpT/playstore.png" alt="playstore"/></a>
						<a href="https://www.apple.com/br/ios/app-store/" target="_blank"><img src="https://i.ibb.co/KqwBLc9/appstore.png" alt="appstore"/></a>
					</div>
					<hr class="clearfix w-100 d-md-none pb-3">
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase text-center" style="color:white">Páginas</h5>
						<ul class="list-unstyled text-center" style="font-family: 'Montserrat', sans-serif;">
							<li>
								<a href="/" style="color: #303030;">Home</a>
							</li>
							<li>
								<a href="/more" style="color: #303030;">Saiba Mais</a>
							</li>
							<li>
								<a href="/warning" style="color: #303030;">Efetuar Denúncia</a>
							</li>
						</ul>
					</div>
					<div class="col-md-3 mb-md-0 mb-3">
						<h5 class="text-uppercase text-center" style="color: white;">Links</h5>
						<ul class="list-unstyled text-center" style="font-family: 'Montserrat', sans-serif;">
							<li>
								<a href="/problem" style="color: #303030;">Relatar Problema</a>
							</li>
							<li>
								<a href="/privacy" style="color: #303030;">Política de Privacidade</a>
							</li>
							<li>
								<a href="/conditions" style="color: #303030;">Termos e Condições de Uso</a>
							</li>
							<li>
								<a href="/answer" style="color: #303030;">Perguntas Frequentes</a>
							</li>
							<li>
								<a href="/talk" style="color: #303030;">Fale Conosco</a>
							</li>
						</ul>  
					</div>
				</div>
			</div>
			<div class="footer-copyright text-center" style="color: white;">© 2020 Copyright</div>
		</footer>
		<script>
			function readURL(input) {
				if(input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {
						$('#imgPhoto').attr('src', e.target.result);
						console.log(e.target);
					}
					reader.readAsDataURL(input.files[0]);
				}
			}
			$(document).ready(function(){
				$("#InputCEP").mask('00000-000');
				$("#InputNum").mask('09999');
			});

			$("#InputPhoto").change(function() {
				readURL(this);
			});
			//
			var star1 = document.getElementById('star1');
			var star2 = document.getElementById('star2');
			var star3 = document.getElementById('star3');
			var star4 = document.getElementById('star4');
			var star5 = document.getElementById('star5');
			star1.onclick = () => {
				star1.setAttribute('class', 'fa fa-star checked');
				star2.setAttribute('class', 'fa fa-star');
				star3.setAttribute('class', 'fa fa-star');
				star4.setAttribute('class', 'fa fa-star');
				star5.setAttribute('class', 'fa fa-star');
				document.getElementById('wlevel').setAttribute('value', 1);
			}
			star2.onclick = () => {
				star1.setAttribute('class', 'fa fa-star checked');
				star2.setAttribute('class', 'fa fa-star checked');
				star3.setAttribute('class', 'fa fa-star');
				star4.setAttribute('class', 'fa fa-star');
				star5.setAttribute('class', 'fa fa-star');
				document.getElementById('wlevel').setAttribute('value', 2);
			} 
			star3.onclick = () => {
				star1.setAttribute('class', 'fa fa-star checked');
				star2.setAttribute('class', 'fa fa-star checked');
				star3.setAttribute('class', 'fa fa-star checked');
				star4.setAttribute('class', 'fa fa-star');
				star5.setAttribute('class', 'fa fa-star');
				document.getElementById('wlevel').setAttribute('value', 3);
			} 
			star4.onclick = () => {
				star1.setAttribute('class', 'fa fa-star checked');
				star2.setAttribute('class', 'fa fa-star checked');
				star3.setAttribute('class', 'fa fa-star checked');
				star4.setAttribute('class', 'fa fa-star checked');
				star5.setAttribute('class', 'fa fa-star');
				document.getElementById('wlevel').setAttribute('value', 4);
			} 
			star5.onclick = () => {
				star1.setAttribute('class', 'fa fa-star checked');
				star2.setAttribute('class', 'fa fa-star checked');
				star3.setAttribute('class', 'fa fa-star checked');
				star4.setAttribute('class', 'fa fa-star checked');
				star5.setAttribute('class', 'fa fa-star checked');
				document.getElementById('wlevel').setAttribute('value', 5);
			}
			//
			document.getElementById('submit').onclick = () => {
				document.getElementById('wprob')
				.setAttribute('value', document
				.getElementById('InputProblem').value);
				///////////////////////////////////////
				document.getElementById('worgan')
				.setAttribute('value', document.
				getElementById('InputOrgan').value);
				///////////////////////////////////////
				document.getElementById('wstate')
				.setAttribute('value', document
				.getElementById('InputState').value);
			}
			//
		</script>
	</body>
</html> 